<article>
    <h1>Restaurar contraseña</h1>
    <form action="/api/sessions/recovery-password" method="post">
        <input id="email-input" type="email" name="email" placeholder="Correo" required>
        <input id="password-input" type="password" name="password" placeholder="Nueva contraseña" required>
        <input id="submit-button" type="submit" value="Enviar">
        <br>
        <a href="/login">Iniciar sesion</a>
    </form>
</article>

