<article>
    <h1>Restaurar contraseña</h1>
    <form action="/api/users/send-email-for-password-recovery" method="post">
        <input id="email-input" type="email" name="email" placeholder="Correo" required>
        <input id="submit-button" type="submit" value="Enviar">
        <br>
        <a href="/login">Iniciar sesion</a>
    </form>
</article>
<script src="/public/js/recovery-password.public.js"></script>

